{% extends "base.html" %}  {% block
content %} {% for post in posts.items %}
<article class="media content-section background-2">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a
        class="mr-2"
        href="{{ url_for('users.user_posts', username=post.author.username) }}"
        >{{ post.author.username }}</a
      >
      <small class="text-muted"
        >{{ post.date_created.strftime('%Y-%m-%d') }}</small
      >
    </div>
    <h2>
      <a
        class="article-title"
        href="{{ url_for('posts.post', post_id=post.id) }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
    <div class="collapse" id="comments-{{post.id}}">
      <div class="card">
        <div class="card-body" id="comments-expanded-{{post.id}}">
          {% for comment in post.comments %}
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <a href="/posts/{{comment.user.username}}"
                >{{comment.user.username}}</a
              >: {{comment.text}}
            </div>
            <small class="text-muted"> {{comment.date_created}}</small>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <p class="card-text">
      {% if post.comments|length > 0 %}
      <a data-toggle="collapse" href="#comments-{{post.id}}" role="button">
        <small>View {{post.comments|length}} Comments</small>
      </a>
      {% else %}
      <small class="text-muted">No Comments</small>
      {% endif %}
    </p>
    <form
      class="input-group mb-3"
      method="POST"
      action="/create-comment/{{post.id}}"
    >
      <input
        type="text"
        id="text"
        name="text"
        class="form-control"
        placeholder="Comment something!"
      />
      <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </div>
</article>
<br />
{% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
left_current=1, right_current=2) %} {% if page_num %} {% if posts.page ==
page_num %}
<a
  class="btn btn-info mb-4"
  href="{{ url_for('main.community', page=page_num) }}"
  >{{ page_num }}</a
>
{% else %}
<a
  class="btn btn-outline-info mb-4"
  href="{{ url_for('main.community', page=page_num) }}"
  >{{ page_num }}</a
>
{% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}
