{% extends "base.html" %} {% block content%}
<div class="content-section">
  <h1>Frequently Asked Questions</h1>
  <h4>Q: What is earthy, and why should we use it?</h4>
  <p>
    Earthy is an app used to track your plastic usage to determine wether your
    plastic usage is average, above or below, from there you are given ways to
    contribute to helping the environment locally, or on a more international
    level. This way you are helping make the world a safer place for people to
    live in, without it slowly deteriorating.
  </p>

  <h4>Q: Do i use this website only once, or do i have to frequently update my
    consumption on it?
  </h4>
  <p>
    You can update your consumption on it in order to compare your results, or
    simply depend on the original results.
  </p>

  <h4>Q: Why should we care about what is happening to the environment?</h4>
  <p>
    What is happening to the environment is affecting us in ways well beyond
    what we could imagine, and affecting our health as well as other living
    creatures who are endangered and on the brisk of vanishing from earth.
  </p>
  <h4>Q: Why is it important to reduce our plastic consumption?</h4>
  <p>
    Future generations will suffer way more than we are suffering simply because
    of our choices concerning plastic. By reducing our plastic usage, we are
    helping save the lives of those to come after us, and all of humanity. So
    for the sake of our children, let us make safe and easy decisions together,
    to save this beautiful earth we are given and have it for a much longer
    time.
  </p>
  <h4>Q: What was it that made you want to track your plastic consumption?</h4>
  <p>
    Personally, i have always been interested in making sure that i am leaving
    this earth satisfied in knowing that i have done my best not to leave
    harmful footprints, and to appreciate the earth that has been given to us.
    It is our job to cherish this gift we have been given, and to not destroy it
    simply for an easy way out. Creating this website has basically been an
    extra step for me towards doing something that matters, and contributing to
    a better future.
  </p>
  <h4>Q: 
    Plastic is making our life easier, so how are we to believe it is harmful?
  </h4>
  <p>
    Right now it is making our life easier but most people aren’t noticing the
    true damage, and it will keep on progressing wether we acknowledge it or
    not, thus we must educate ourselves on what we are actually doing poisoning
    the world.
  </p>
  <h4>Q: What is going to happen if we keep on the same road?</h4>
  <p>
    We will start quickly suffering because of it, increasing global warming
    that destroys our planet leading to a state of deterioration of the human
    race, and all living creatures because we have no place to live, simply
    because we sought the easy way out.
  </p>
  <h4>Q: What is going to change if we change our plastic habits?</h4>
  <p>
    We will save the earth. As simple as it seems, it is true. Things will get
    better, and we will be okay if we just had an awareness to how bad things
    are right now.
  </p>
  <h4>Q: If people don’t care about this, why should i do any different?</h4>
  <p>
    You can educate those people, and be on the road of saving the planet along
    with raising awareness, and isn’t that the greatest and enough?
  </p>
  <h4>Q: I am putting my used plastic in a pile to recycle, isn’t that enough?</h4>
  <p>
    Only 15% or less of recyclable material ends up actually being recycled, the
    rest of it ends up in landfills and the ocean, Thus we have to take other
    measures to help.
  </p>
  <h4>Q: 
    I feel guilty using this app to tell me I am harming the world, isn’t there
    any other way to help?
  </h4>
  <p>
    This website is one way. You can start lowering your plastic usage on you
    own, and educating yourself on how to do so. On the other hand, you
    shouldn’t feel guilty as long as you are getting better.
  </p>
  <h4>Q: 
    I live in a family dependent on plastic, how should I educate them on this
    sensitive matter using you website?
  </h4>
  <p>
    Help them understand the importance of this matter and encourage them to
    browse through different websites that support such issue, to better
    understand why we need everyone to act upon this crisis
  </p>
  <h4>Q: 
    I discovered that my plastic consumption is well above average but lowering
    that is quite expensive for me, how can i contribute to an environment
    friendly life style low cost?
  </h4>
  <p>
    Living environment friendly doesn’t have to be expensive, it can be as
    simple as reusing mason jars. The idea that you need to buy expensive things
    to live low waste is made by companies to make you buy more things. living
    low waste is about reusing, and being conscious about what you throw out and
    buy
  </p>
</div>
{% endblock%}
