{% extends "base.html" %}  {% block
content%}
<div class="content-section">
  <img
      src="../static/recycle.jpeg"
      alt="earth going from ruins to greens"
      class="img-fluid"
    />
  <h4>Know the places..</h4>
  <p>
    It needs time and patience to spread the culture of recycling among a
    community.<br />
    We are starting slowly, here in Lebanon, but we are moving forward luckily.
  </p>
  <h4>Here are few initiatives in Lebanon to collect your recycables.</h4>
  <p><h4>@recycler_donation</h4>You can either take your trash to their designated locations or give them a call and they will come pick it up!</p>
  <p><h4>@liveloverecycle</h4>It is a service available in Beirut, Tripoli and Jounieh. Download their app, choose your location, and they will be right at your door to pick up your recycables!</p>
  <p><h4>Spinneys</h4>You can take all your plastic bottles and put them in the recycling area, usually a huge trash can, in most of Spinneys branches across Lebanon.</p>
</div>


{% endblock%}
